1. Discuss String slicing and provide examples?

String slicing is a method for extracting a specific value from the string by using special syntax. The syntax for string slicing is string[start:stop:step] where,

Start - index where the slice begins 
stop - index where the slice ends
step - specific interval between indices

there are various type of String slicing :

In [6]:
# Extraction 
msg = "Sound Please"
msg[0:5] # here we have extracted Sound from msg

'Sound'

In [4]:
# Omition 
msg[1:] #here we have omitted S from msg.

'ound Please'

In [15]:
# Negative indices
msg[-1:]

'e'

In [9]:
msg[:-1]

'Sound Pleas'

In [16]:
# reversing string
msg[::-1] #

'esaelP dnuoS'

In [17]:
#using step
msg [0:10:2]

'SudPe'

2. Explain the key features of lists in python?

Before explaining the the key features of lists in pythons lets talk about List. list is the most used ordered sequence of data structure.

Key features of list :-

In [19]:
# Ordered
a=[1,2,3,4,5]
a[0] # here it shows in 0 index we have 1

1

In [22]:
# mutable
a[0] = 10
a # here we can see 1 changed to 10

[10, 2, 3, 4, 5]

In [24]:
# Heterogenous 
b = [1,2,3,"amit",[3,3,3], True , 2.2]
b.append('a+2b') # here we can see we have added different data type.

In [25]:
b

[1, 2, 3, 'amit', [3, 3, 3], True, 2.2, 'a+2b']

In [27]:
#Slicing 
b[1:5:2] # we can do list slicing

[2, 'amit']

In [28]:
# Iteration 
for bb in b :
   print(bb) # as we can see iteration can also be done

1
2
3
amit
[3, 3, 3]
True
2.2
a+2b

In [31]:
# list Comprehension
[rates * 10 for rates in range(12)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

3. Describe how to access, modify and delete  elements in a list  with example ?

list in python are ordered collection of elements that can be accessed, modified and deleted.

In [1]:
# Access
abc = [12,67,32,"Bhayanak",'Maut',2.3,5.2,True, False]

# lets access 32 from the list
abc[2]

32

In [3]:
# Modify
#Lets modify 32 to 98
abc[2] = 98
abc

[12, 67, 98, 'Bhayanak', 'Maut', 2.3, 5.2, True, False]

In [5]:
# Delete
# Method 1) lets delete 67 from the list abc 
del abc[1]

In [6]:
abc

[12, 98, 'Bhayanak', 'Maut', 2.3, 5.2, True, False]

In [8]:
# Method 2) Remove
abc.remove(2.3)
abc

[12, 98, 'Bhayanak', 'Maut', 5.2, True, False]

In [10]:
# Method 3) .pop
abc.pop() # deletes and shows the last element in the list

True

4. compare and contrast tuple and list with examples ?

tuple and list both are both are sequence datatype and both can store different type of elements
both tuple and list are heterogeneous and in order where we can iterate along with slice and index.

In [4]:
# Tuple
tuple = (1,2,"maut","search",2.3,3.4,True,"2i + 3")
type(tuple)

tuple

In [5]:
tuple # they are stored in order and heterogenous elements are there

(1, 2, 'maut', 'search', 2.3, 3.4, True, '2i + 3')

In [6]:
tuple[0:4] # sliced

(1, 2, 'maut', 'search')

In [7]:
tuple [2] # indexed

'maut'

In [10]:
# list 
list =[1,2,"maut","search",2.3,3.4,True,"2i + 3"]
list # they are stored in order and heterogenous elements are there

[1, 2, 'maut', 'search', 2.3, 3.4, True, '2i + 3']

In [11]:
list[1:5] # sliced

[2, 'maut', 'search', 2.3]

In [12]:
list[2] # indexed

'maut'

difference between tuple and list are as follows

1.as per the creation we can see tuple is created by " () " and list is created by " [] "

In [13]:
# 2. Mutabilty

# tuple is immutable
tuple

(1, 2, 'maut', 'search', 2.3, 3.4, True, '2i + 3')

In [14]:
tuple[2] = 3 # we cannot change the element >>> immutable

TypeError: 'tuple' object does not support item assignment

In [15]:
# list is mutable
list

[1, 2, 'maut', 'search', 2.3, 3.4, True, '2i + 3']

In [16]:
list[3] = "Zindagi"

In [18]:
list # we can see it changed "Search" into " Zindagi" >>> mutable

[1, 2, 'maut', 'Zindagi', 2.3, 3.4, True, '2i + 3']

List is mainly suitable for collection of item that changes and tuple is suitable for cordinates and days of the week.

In [19]:
list

[1, 2, 'maut', 'Zindagi', 2.3, 3.4, True, '2i + 3']

In [20]:
list.append(0)

In [21]:
list # changes in list

[1, 2, 'maut', 'Zindagi', 2.3, 3.4, True, '2i + 3', 0]

In [22]:
tuple

(1, 2, 'maut', 'search', 2.3, 3.4, True, '2i + 3')

In [23]:
days= ('Sunday','Monday','tuesday','wednesday','thursday','friday','saturday')

In [24]:
days

('Sunday', 'Monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday')

5. Describe the key features of Sets and provide examples of their uses ?

Features of Sets are -

In [2]:
# 1. Unordered Collection - as there are no duplicate elements every element is unique so order doesnt matters.
# example 
x = {1,2,3,4,5,1,1,1,2,3,3}
x

{1, 2, 3, 4, 5}

In [3]:
# 2. Non Duplicate Elements - as there are only unique elements, there is no duplication of elements 
# example 
print(x)

{1, 2, 3, 4, 5}

In [4]:
# 3. Mutable - you can add and remove elements 
# example 
abc = {11,22,33,44,55,66,77}
abc.add(88)

In [5]:
abc

{11, 22, 33, 44, 55, 66, 77, 88}

In [6]:
abc.remove(88)

In [7]:
abc

{11, 22, 33, 44, 55, 66, 77}

In [9]:
# 4. iteration - we can do iteration
xyz = {'a','b','c','d','e','f'}
for i in xyz :
    print(i,end=" ")

a c e f b d

In [14]:
# 5. Membership testing -
zab = {1,2,3}
print(1 in zab, "baby")

True baby

In [15]:
# 6. Mathematical operations - 
# union >>> the symbol for it is {|}. it combines elements from both sets
# example
dlf = {1,2,3,4}
fld = {4,5,6,7,8}
df = dlf | fld
print(df)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
# intersection >>> the symbol is { & }, it takes the elements which are common between both the sets 
# example
dlf

{1, 2, 3, 4}

In [17]:
fld

{4, 5, 6, 7, 8}

In [19]:
dl = dlf & fld 
dl

{4}

In [20]:
# difference >>> element which is in one set not in other. denoted by { - }
#example
diff = dlf - fld
diff

{1, 2, 3}

In [21]:
# symmetric difference >>> combines all elements except the common onces, denoted by { ^ }
sym = dlf ^ fld
sym

{1, 2, 3, 5, 6, 7, 8}

6. Discuss the used cases of tuple and set in python programming ?

The used cases of tuple and set in python

In [46]:
# used cases for tuple 
details ={(" sanjay", 30 ," LKO "),("abhay", 40," BLR "),("azhar", 35, " HYD ")}
details

{(' sanjay', 30, ' LKO '), ('abhay', 40, ' BLR '), ('azhar', 35, ' HYD ')}

In [47]:
# used case for set

In [51]:
students_in_class_english = {"John", "Alice", "Sam"}
students_in_class_maths = {"Alice", "Bob", "Charlie"}
Student_in_both_class = students_in_class_english & students_in_class_maths

In [53]:
print(Student_in_both_class)

{'Alice'}

7. Describe how to add, modify and delete items in a dictionary with examples ?

Dictionary are the mutable collection of paired elements, it means we can add, modify and delete items from it.

In [54]:
Employee = { "Name" : "Santosh" , "Age" : 38 , "City" : " BLR " }

In [55]:
Employee

{'Name': 'Santosh', 'Age': 38, 'City': ' BLR '}

In [56]:
# lets add "Department" as "Developer" in the dictionary
Employee["Department"] = " Developer "
Employee

{'Name': 'Santosh', 'Age': 38, 'City': ' BLR ', 'Department': ' Developer '}

In [59]:
# lets Modify " Age " as "42" 
Employee["age"] = 42
Employee

{'Name': 'Santosh',
 'Age': 42,
 'City': ' BLR ',
 'Department': ' Developer ',
 'age': 42}

In [60]:
Employee

{'Name': 'Santosh',
 'Age': 42,
 'City': ' BLR ',
 'Department': ' Developer ',
 'age': 42}

In [61]:
#lets delete " age " from the dictionary
del Employee["age"]
Employee

{'Name': 'Santosh', 'Age': 42, 'City': ' BLR ', 'Department': ' Developer '}

In [62]:
#Lets use POP to delete 
Employee.pop("Department")
Employee

{'Name': 'Santosh', 'Age': 42, 'City': ' BLR '}

8. Discuss the importance of Dictionary keys being immutable and provide examples?

The importance of dictionary key being immutable is the hashablity of it and for that elements in pairs should be immutable, it shouldnt change.

the best example show is to why it is important for dictionary to be immutable.

In [65]:
dictionary = {('a','b','c') : 1, ('x','y','z') : 26}
print(dictionary[('a','b','c')])

1

In [67]:
#example of Mutables 
dictionary1 = {["a", "x"]: 12}

TypeError: unhashable type: 'list'

In [ ]:
# here we have seen the reason of why the dictionary are immutable coz if we are aloowed to add, delete or modify the list after it is used as a key
#will change the hashability value of the list and which will make the list unconsistant and impossible to locate the associated value.